/*/ RESET /*/

 html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h4, h3, p,
form, fieldset, label, textarea,
button, article, footer, small, header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	font-family: inherit;
	box-sizing: content-box;
	color: inherit;
	text-align: inherit;
	text-decoration: none;
	background: transparent;
	box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#over-container {
	text-decoration: none;
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(https://d3jzug80jq9bku.cloudfront.net/assets/rileyandgrey/images/flowerparade/multi/home_bg-dc71eebc827219ac72f8e74437f39d1f.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul {
	list-style: none;
}

h1 {
	font-size: 36px;
}

p {
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	text-align: justify;
}

/*/ CLEARFIX /*/

.group:after {
	content: "";
	clear: both;
	display: block;
 }

 /****/

 #main-content {
 	height: 600px;
 	width: 100%;
	color: white;
	text-align: center;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 35px;
	background: url("/assets/images/grey_rec.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

 }

 #wedder {
	font-family: "FuturaStd-Bold", sans-serif;
	text-align: center;
	background-color: #ffffff;
	color: black;
	box-shadow: 1px 1px 1px 1px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 1000;
 }

#wedder li {
	display: inline-block;
	padding: 20px 20px;
	font-weight: bold;
	font-size: 16px;
}

#wedder li:hover {
	background: #f5f5f5;
}

.cell-container, .cell-container {
	text-align: center;
	display: table-cell;
	box-sizing: border-box;
	position: absolute;
	top: 53%;
	left: 49.4%;
	transform: translateX(-50%) translateY(-50%);
	vertical-align: middle;

}

.title-container-outer, .title-container-outer {
	background: #6F7476;
}

.title-container-outer, .title-container-outer {
    display: inline-block;
    position: relative;
    min-width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

.title-container-inner, .title-container-inner {
    display: table;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 6px solid #fff;
    text-align: center;
}

.title-container-autowidth, .title-container-autowidth {
    padding: 0 12px;
    display: table-cell;
    vertical-align: middle;
}

.linedivider, .linedivider {
    border-top: 10px solid #fff;
    width: 88%;
    margin: 12px auto;
}

.title {
	font-family: sans-serif;
}

.dec-header:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 400px;
	top: -400px;
	z-index: -1;
	background: url("/assets/images/green_rec.svg") no-repeat 50% 44%;
	background-size: cover;
	background-position: center;
}





/* BLOCKS */

.block {
	min-height: 600px;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 800px;
}

.block:after {
	content: "";
	height: 300px;
}

.block-content {
	background: #FFFFFF;
	height: auto;
	display: block;
	min-height: 400px;
	position: relative;
	padding: 20px;
}

.black-content p {
	font-size: 16px;
	text-align: justify-all;
}

/***********************************/

/* COUPLES SECTION */

#the-couple .cell-container, #the-couple .cell-container {
	top: -186px;
}

#the-couple .title-container-outer, #the-couple .title-container-outer {
	background: #019C68;
	min-width: 400px;
	height: 200px;
}

/***********************************/
