<header id="wedder">	
	<ul class="nav nav-tabs">
		<a href="">
			<li role="presentation">Home</li>
		</a>
		<a href="">
			<li role="presentation">Our Story</li>
		</a>
		<a href="">
			<li role="presentation">Party</li>
		</a>
		<a href="">
			<li role="presentation">Registry</li>
		</a>
		<a href="">
			<li role="presentation">Memphis</li>
		</a>
		<a href="">
			<li role="presentation">Travel</li>
		</a>
		<a href="">
			<li role="presentation">Accomodations</li>
		</a>
		<a href="">
			<li role="presentation">RSVP</li>
		</a>
	</ul>
</header>
<div>
	<router-outlet></router-outlet>
	
</div>