<div id="main-content">
	<div class="block">
		<div class="cell-container">
			<div class="title-container-outer" style="top: 0px">
				<div class="title-container-inner">
					<div class="title-container-autowidth">
						<h1 class="title">James &amp; Daphny</h1>
						<div class="linedivider"></div>
						<h1 class="subtitle">June 10, 2017</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block dec-header">
		<div class="block-content"></div>
	</div>	
	<div id="the-couple">
		<div class="block dec-header">
			
			<div class="block-content">
				<div class="cell-container">
					<div class="title-container-outer" style="top: 0px">
						<div class="title-container-inner">
							<div class="title-container-autowidth">
								<h1 class="title">Our Story</h1>
							</div>
						</div>
					</div>
				</div>
				<p>
					We have what many people now consider a modern love-story: we met online. The exact date is a point of dispute but we agree it was in the latter half of October 2013. There was a moment during our first conversation when I knew I wanted to be friends with him forever. It was more than sharing similar values and interests, I recognized a kindred spirit. Despite this immediate connection, romance was the furthest thing from my mind. Law school, the age difference, our different life experiences, the geographic challenges ... there were many things that made me decide that we would never be anything more than just friends. My position changed rather quickly during a friendly date on December 12, 2013.
				</p>
				&nbsp
				<p>
					James was visiting the city with his brother, Brent, and friends. I planned on a quick brunch with everyone at one of my favorite restaurants in Brooklyn, Roberta’s, but James changed plans and decided that he wanted to hang out just with me. I was worried that Roberta’s was a bad choice because he didn’t finish his meal* but the day ended on a high note. The short afternoon brunch ended up being a very long and romantic evening. I’m usually very serious and guarded but I felt lighter around him. All my usual guards were down. We drank and talked for hours and have been inseparable from that point on.
				</p>
				&nbsp
				<p>
					When deciding on a location for our wedding, it seemed natural to get married in the city that changed us both.
				</p>
				&nbsp
				<p>
					* I later learned that James (almost) always finishes his meals. He didn’t finish his food during our first date because he was ͞extremely nervous͟ :)
				</p>
			</div>
		</div>
	</div>
</div>