<header id="wedder">	
	<ul>
		<a href="">
			<li>Home</li>
		</a>
		<a href="">
			<li>People</li>
		</a>
		<a href="">
			<li>Party</li>
		</a>
		<a href="">
			<li>Registry</li>
		</a>
		<a href="">
			<li>Place</li>
		</a>
		<a href="">
			<li>Travel</li>
		</a>
		<a href="">
			<li>Accomodations</li>
		</a>
		<a href="">
			<li>RSVP</li>
		</a>
	</ul>
</header>
<div id="main-content">
	<div class="cell-container">
		<div class="title-container-outer" style="top: 0px">
			<div class="title-container-inner">
				<div class="title-container-autowidth">
					<h1 class="title">James &amp; Daphny</h1>
					<div class="linedivider"></div>
					<h1 class="subtitle">July 28, 2017</h1>
				</div>
			</div>
		</div>
	</div>
	<blank></blank>
</div>